html, body {
    font: 14px "Open Sans", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: radial-gradient(1295.00px at 50% 50%, #BCE4F8 0%, #7FD1F4 100%);
    font-size: 10px;
}
body {
    font-size: 1.4rem;
}

a {
    color: #00B7FF;
}

.nav {
    color: white;
}

.nav .nav-primary {
    background-color: #1400FF;
    height: 80px;
}

.nav .nav-secondary {
    background-color: #1E0AB9;
    height: 50px;
}

.nav .nav-secondary a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    line-height: 50px;
    padding-right: 30px;
}

.container {
    max-width: 1100px;
    margin: auto;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}
.flex-container.wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-container {
    padding: 20px 0;
    background-color: white;
}

.home-container .left-column {
    flex: 0 0 250px;
    padding: 0 20px;
    box-sizing: border-box;
}

.home-container .mid-column {
    flex: 1 1 100%;
}
.home-container .right-column {
    flex: 0 0 300px;
    padding: 0 20px;
    box-sizing: border-box;
}

.news-item {
    flex: 0 0 275px;
    cursor: pointer;
}
.news-item:hover h2 {
    text-decoration: underline;
}
.news-item h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
}
.news-item h4 {
    font-size: 1.1rem;
    margin: 1rem 0;
    opacity: .6;
}

.news-item-cover {
    flex: 0 0 800px;
    margin-bottom: 10px;
}
.news-item-cover h2 {
    font-size: 2.4rem;
    margin: 1.4rem 0;
}
.news-item-cover h4 {
    font-size: 1.4rem;
    margin: 1.4rem 0;
    opacity: .6;
}

.news-item-mini {
    margin-bottom: 10px;
}
.news-item-mini h2 {
    font-size: 1.4rem;
    margin: 0.5rem 0;
}
.news-item-mini h4 {
    font-size: 1rem;
    margin: 0.5rem 0;
    opacity: .6;
}

hr {
    border-color: #1400FF;
}

.subheader {
    border-bottom: 1px solid #1400FF;
    margin-bottom: 10px;
}
.subheader span {
    display: inline-block;
    background-color: #1400FF;
    padding: 12px 15px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.ad {
    position: absolute;
    top: 130px;
    z-index: 0;
    width: 200px;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
}

.ad-left {
    background-image: url("/images/ad-left.png");
    left: calc(50% - 750px);
}

.ad-right {
    background-image: url("/images/ad-right.png");
    right: calc(50% - 750px);
}
