.reporter-fab {
  position: fixed;
  bottom: 30px;
  right: calc(50vw - 630px);
  @media (max-width: 1400px) {
    right: 50px;
  }
  width: 60px;
  height: 60px;
  background: #DC0000;
  color: white;
  border: 0;
  outline: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 0 5px 1px rgba(black, .3);

  &:hover {
    background-color: darken(#DC0000, 3%);
  }

  div {
    position: relative;
    height: 25px;
    width: 100%;
    white-space: nowrap;
    img, span {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: all .2s;
    }
    span {
      opacity: 0;
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 25px;
    }
  }

  &:hover {
    width: 200px;
    img {
      opacity: 0;
    }
    span {
      opacity: 1;
    }
  }
}
